html * {
  box-sizing: border-box;
  font-family: Segoe UI;
}

button {
  border: solid 1px $BTN_PRIMARY_COLOR;
  padding: 12px 24px;
  border-radius: $BTN_BORDER_RADIUS;
  text-transform: uppercase;
  cursor: pointer;
  font-size: $TXT_MEDIUM_SIZE;
}
button.primary {
  color: $BTN_PRIMARY_COLOR;
}

button[disabled] {
  background: $BTN_DISABLE_BG;
  color: $BTN_DISABLED_COLOR;
  cursor: not-allowed;
}
input {
  padding: 12px;
  width: 100%;
  border-radius: $BTN_BORDER_RADIUS;
  border: solid 1px $BORDER_COLOR;
}



select {
  width: 100%;
  border: none;
  outline: none;
}

.supplier-list label,
option {
  display: block;
  position: relative;
  padding: 10px;
  cursor: pointer;
  border-bottom: solid 1px $BORDER_COLOR;
  border-left: solid 1px $BORDER_COLOR;
  border-right: solid 1px $BORDER_COLOR;
  font-size: $TXT_SMALL_SIZE;
  color: $TXT_PRIMARY_COLOR;
  &:first-child {
    border-top: solid 1px $BORDER_COLOR;
  }

  &:before {
    position: absolute;
    right: 0;
    content:'►';
  }
}
.supplier-list label:hover,
option:hover {
  background: #308ef8;
  color: #fff;
}
option:checked {
  box-shadow: 0 0 10px 100px #e2f1fe inset;
}

details {
  border-top: solid 1px $BORDER_COLOR;
  border-bottom: solid 1px $BORDER_COLOR;
}
summary {
  font-size: $TXT_SMALL_SIZE;
  line-height: 16px;
  color: $TXT_PRIMARY_COLOR;
}
.supplier-details--list {
  padding: 20px;
  border-top: solid 1px $BORDER_COLOR;
  border-bottom: solid 1px $BORDER_COLOR;
  p{
    font-size: $TXT_SMALL_SIZE;
    line-height: 16px;
    color: $TXT_PRIMARY_COLOR;
    margin: 0;
  }
  small {
    font-size: $TXT_XSMALL_SIZE;
    color: $TXT_TERTIARY_COLOR;
    line-height: 16px;
  }
}


.product-select {
  padding: 12px 24px;
  border: solid 1px $BORDER_COLOR;
  color: $TXT_SECONDARY_COLOR;
  border-radius: $BTN_BORDER_RADIUS;
  font-size: $TXT_SMALL_SIZE;
  p {
    margin: 0;
  }
}