$TXT_PRIMARY_COLOR: #3E4760;
$TXT_SECONDARY_COLOR: #c4c4c4;

$BTN_PRIMARY_COLOR: #808285;
$BTN_DISABLED_COLOR: #C4C4C4;

$BTN_DISABLE_BG: #E5E5E5;
$BTN_BORDER_RADIUS: 3px;

$BORDER_COLOR: #c4c4c4;
$BORDER_SHADOW: 2px 2px 3px rgba(0,0,0,.1);

$MODAL_BORDER_RADIUS: 10px;