//TEXT
$TXT_PRIMARY_COLOR: #3E4760;
$TXT_SECONDARY_COLOR: #c4c4c4;
$TXT_TERTIARY_COLOR: #7B7B7B;
$TXT_XSMALL_SIZE: 12px;
$TXT_SMALL_SIZE: 14px;
$TXT_MEDIUM_SIZE: 16px;

//BUTTON
$BTN_PRIMARY_COLOR: #808285;
$BTN_DISABLED_COLOR: #C4C4C4;
$BTN_DISABLE_BG: #E5E5E5;
$BTN_BORDER_RADIUS: 3px;

//ACCORDION
$ACCORDION_BG: #F5F5F5;

//OTHERS
$BORDER_COLOR: #c4c4c4;
$BORDER_SHADOW: 2px 2px 3px rgba(0,0,0,.1);
$GUTTER_SMALL: 20px;


$MODAL_BORDER_RADIUS: 10px;